# API cache
Notebooks/data_cache/

# Model checkpoints
Notebooks/best_model.pt

# VS Code
.vscode/

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Conda / venv
*.env
.env
envs/
*.conda

# OS
.DS_Store
Thumbs.db